<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <title>BLOCKCHAIN-BASED EDUCATIONAL CERTIFICATES</title>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/loaders.css" rel="stylesheet" type="text/css">
    <link href="../static/css/admin.css" rel="stylesheet" type="text/css">
    <link href="../static/css/normal.css" rel="stylesheet" type="text/css">
    <link href="../static/css/jquery.jsonview.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/jquery-labelauty.css">
    <link href="../static/css/jquery.jsonview.css" rel="stylesheet" type="text/css">
   
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/crypto-min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/crypto-sha256.js"></script>
    <script type="text/javascript" src="../static/js/vendor/crypto-sha256-hmac.js"></script>
    <script type="text/javascript" src="../static/js/vendor/sha512.js"></script>
    <script type="text/javascript" src="../static/js/vendor/ripemd160.js"></script>
    <script type="text/javascript" src="../static/js/vendor/aes.js"></script>
    <script type="text/javascript" src="../static/js/vendor/qrcode.js"></script>
    <script type="text/javascript" src="../static/js/vendor/qcode-decoder.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jsbn.js"></script>
    <script type="text/javascript" src="../static/js/vendor/ellipticcurve.js"></script>
    <script type="text/javascript" src="../static/js/vendor/moment.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/coin.js"></script>
    <script type="text/javascript" src="../static/js/vendor/coinbin.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jquery.jsonview.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jquery-labelauty.js"></script>
    

	<style>
	ul { list-style-type: none;}
	li { display: inline-block;}
	li { margin: 10px 0;}
	input.labelauty + label { font: 12px "Microsoft Yahei";}
	</style>
	
  </head>
  <body>

	<nav id="myScrollspy" class="navbar navbar-hey navbar-static" role="navigation">
	   <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse"
	         data-target=".bs-js-navbar-scrollspy">
	         <span class="sr-only">Nav</span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/school-home">HOME</a>
	   </div>
	   <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
	      <ul class="nav navbar-nav">
	         <li class="dropdown active">
	            <a href="#" id="navbarDrop1" class="dropdown-toggle"
	               data-toggle="dropdown">Certificate
	               <b class="caret"></b>
	            </a>
	            <ul class="dropdown-menu" role="menu"
	               aria-labelledby="navbarDrop1">
	               <li><a href="./issuedCertificates" tabindex="-1">Issued Certificate</a></li>
	               <li><a href="./unIssuedCertificates" tabindex="-1">Unissued Certificate</a></li>
	            </ul>
	         </li>
	         
	          <li class="dropdown active">
	            <a href="#" id="navbarDrop1" class="dropdown-toggle"
	               data-toggle="dropdown">Transaction
	               <b class="caret"></b>
	            </a>
	            <ul class="dropdown-menu" role="menu"
	               aria-labelledby="navbarDrop1">
	               <li><a href="./unBroadcastTran" tabindex="-1">unBroadcasted Transaction</a></li>
	               <li><a href="./broadcastTran" tabindex="-1">Broadcasted Transaction</a></li>
	            </ul>
         	  </li>
        <!--  <li><a href="/transaction">Transaction</a></li> -->
	         
	         <li><a href="/about">About</a></li>
	         <li><a href="/logout">Log out</a></li>
	      </ul>
	   </div>
	</nav>

	<div id="bd-pageheader">
	      <div class="container">
	          <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
	                <div class="site-heading">
	                    <h1>blockchain-based educational certificates</h1>
	                </div>
	            </div>
	        </div>
	      </div>
	</div>

	<div class="container">
	          <table class='table table-hover zhdjsm'>
	          <thead>
	                  <tr>
	                    <th>Issuer Name</th>
	                    <th>Recipient Name</th>
	                    <th>Approved Date</th>
	                    <th>Action</th>
	                  </tr>
	          </thead>
	          <tbody class="sbcon">
	            <tr><td>
	              <div class="loadingsb" style="padding:50px 0 0px 30px;display:none;">
	                   <div class="loader">
	                       <div class="loader-inner ball-scale-multiple">
	                         <div></div>
	                         <div></div>
	                         <div></div>
	                         <p class="load" style="margin-left: 100px !important;padding-top:15px !important;font-size: 18px;">Loading</p>
	                       </div>
	                   </div>
	             </div>
	             </td>
	             <td></td>
	             <td></td>
	             <td></td>
	             <td></td>
	             <td></td>
	             </tr>
	          </tbody>
	        </table>
	</div>

	<!-- View -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">
	            &times;
	          </span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel"> 
	          View
	        </h4>
	      </div>
	      <div class="modal-body">
	          <div class="verifyData" id="verifyTransactionData">
			       <!-- <h4>1111</h4> -->
			       <button id="collapse-btn">Collapse</button>
			       <button id="expand-btn">Expand</button>
	               <div class="info" id = "vdata">111</div>
			 </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">
	          Close
	        </button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Issue -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">
	            &times;
	          </span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel"> 
	          Please select the merged certificates
	        </h4>
	      </div>
	      <div class="modal-body">
	          <div class="issueData" id="verifyTransactionData">
			      	<ul class="dowebok" id ="issuname">
				    </ul>
			 </div>
			 <div id="mergeStatus" class="alert-success">
			    
			 </div>
	      </div>
	      <div class="modal-footer">
	        <input type="button" onclick ="mergeCertificate();" value="Merge to a transaction" id="applyId"  class="btn btn-primary" data-original-title="" title="">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">
	          Close
	        </button>
	      </div>
	    </div>
	  </div>
	</div>
	
	


	<footer class="mains">
	    <p class="copyright text-center">© 2017 <a href="http://blockcerts.ehcoo.com/">UOB BLOCKCHAIN LAB</a>. All Rights Reserved. <br>
	    </p>
	</footer>
	
	<script src="../static/bootstrap/bootstrap.min.js"></script>
	<script src="../static/js/load.js"></script>
	<script src="../static/js/admin.js"></script>
	<script type="text/javascript">
	$(function() {
		loadunIssuecertificate();
	});
	</script>
	
</body>
</html>
